<configuration>

  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>test-run.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="org.apache.http" level="WARN" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.marklogic.hub" level="WARN" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.marklogic.example" level="INFO" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

</configuration>
